{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "!packages/cms/src/admin/__generated__/**": [],
  "!apps/playground/firestore.indexes.json": []
}
